{% extends "layout2.html" %}
{% block content %}

<style>
    /* Estilos para el contenedor principal */
    .container {
        max-width: 600px; /* Limita el ancho del contenedor a 600px */
        margin: auto; /* Centra el contenedor en la pantalla */
        padding-top: 50px; /* Añade un espacio en la parte superior */
    }
    /* Estilos para el título principal */
    h1 {
        font-size: 3rem; /* Tamaño de fuente grande para el título */
        text-align: center; /* Centra el título en el contenedor */
        margin-bottom: 30px; /* Añade un espacio en la parte inferior del título */
        text-shadow: 1px 2px gray;
    }
    /* Estilos para el párrafo de bienvenida */
    .lead {
        font-size: 1.5rem; /* Tamaño de fuente grande para el párrafo */
        text-align: center; /* Centra el párrafo en el contenedor */
        margin-bottom: 50px; /* Añade un espacio en la parte inferior del párrafo */
    }
</style>

<div class="container">
    <h1 class="text-center my-5">Bienvenido al sistema</h1>
    <p class="lead text-center">¡Gracias por utilizar nuestra aplicación!</p>
</div>

{% endblock %}